<ion-content>
  <img src="../../assets/icon/paperless.png"
      style="position:absolute;margin-top: 77px;height: 97px;width: 114px;margin-left: 20px;">
  <h1 style="color: #27437A;position: absolute;margin-top: 240px;font-size: 42px;margin-left: 37px;font-family: DM Sans regular;">
      Login</h1>
  <ion-input type="tel" pattern="[0-9]*" maxlength="10" style="position: absolute;margin-top: 345px;margin-left: 34px;padding-top: 9px;padding-bottom: 12px;width: 79%;border: black;
background-color: #FFFFFF;box-shadow: inset 0px 3px 6px #00000029;" placeholder="Enter mobile number" required>
  </ion-input>
  <button style="background: linear-gradient(#002173E6,#00217366);width: 79%;padding: 9px;margin-top: 429px;position: absolute;margin-left: 34px;color: #D6D6D6;">OTP</button>
  <img src="../../assets/icon/loginscreen.png" style="height: 100%;font-family: DM sans regular;">
</ion-content>
