<ion-content>
  <img src="../../assets/icon/back.svg" style="position: absolute;margin-top: 6%;margin-left: 3%;" (click)="previous()">
  <img src="../../assets/icon/paperless.png"
    style="position:absolute;margin-top: 77px;height: 97px;width: 114px;margin-left: 25px;">
  <h1
    style="color: #FFFFFF;position: absolute;margin-top: 240px;font-size: 30px;margin-left: 37px;font-family: DM Sans regular;">
    Hello Aswin !</h1>
  <h1
    style="color: #153D73;position: absolute;margin-top: 290px;font-size: 30px;margin-left: 37px;font-family: DM Sans regular;">
    Enter Your OTP here</h1>
  <h1
    style="color: #153D73;position: absolute;margin-top: 340px;font-size: 20px;margin-left: 38px;font-family: DM Sans regular;">
    For +91 1234567890</h1>
  <ion-input type="tel" pattern="[0-9]*" maxlength="1" style="position: absolute;margin-top: 386px;margin-left: 34px;padding-top: 20px;padding-bottom: 12px;width: 12%;border: black;
background-color: #FFFFFF;box-shadow: inset 0px 3px 6px #00000029;height: 6%;border-radius: 10px;" required>
  </ion-input>
  <ion-input type="tel" pattern="[0-9]*" maxlength="1" style="position: absolute;margin-top: 386px;margin-left: 86px;padding-top: 20px;padding-bottom: 12px;width: 12%;border: black;
background-color: #FFFFFF;box-shadow: inset 0px 3px 6px #00000029;height: 6%;border-radius: 10px;" required>
  </ion-input>
  <ion-input type="tel" pattern="[0-9]*" maxlength="1" style="position: absolute;margin-top: 386px;margin-left: 139px;padding-top: 20px;padding-bottom: 12px;width: 12%;border: black;
background-color: #FFFFFF;box-shadow: inset 0px 3px 6px #00000029;height: 6%;border-radius: 10px;" required>
  </ion-input>
  <ion-input type="tel" pattern="[0-9]*" maxlength="1" style="position: absolute;margin-top: 386px;margin-left: 192px;padding-top: 20px;padding-bottom: 12px;width: 12%;border: black;
background-color: #FFFFFF;box-shadow: inset 0px 3px 6px #00000029;height: 6%;border-radius: 10px;" required>
  </ion-input>
  <ion-input type="tel" pattern="[0-9]*" maxlength="1" style="position: absolute;margin-top: 386px;margin-left: 245px;padding-top: 20px;padding-bottom: 12px;width: 12%;border: black;
  background-color: #FFFFFF;box-shadow: inset 0px 3px 6px #00000029;height: 6%;border-radius: 10px;" required>
  </ion-input>
  <ion-input type="tel" pattern="[0-9]*" maxlength="1" style="position: absolute;margin-top: 386px;margin-left: 298px;padding-top: 20px;padding-bottom: 12px;width: 12%;border: black;
background-color: #FFFFFF;box-shadow: inset 0px 3px 6px #00000029;height: 6%;border-radius: 10px;" required>
  </ion-input>
  <button
    style="background: linear-gradient(#002173E6,#00217366);width: 79%;padding: 9px;margin-top: 458px;position: absolute;margin-left: 34px;color: white;;color: #D6D6D6;">Verify & Proceed</button>

    <a><h6 style="font-family: DM Sans regular;font-size: 11px;position: absolute;margin-top: 510px;color: #FFFFFF;margin-left: 39%;text-decoration: underline;">Resend OTP</h6></a>
  <img src="../../assets/icon/loginscreen.png" style="height: 99%;font-family: DM sans regular;">
</ion-content>